<h1><%= @sub.title%></h1>
<h3>Moderator: <%= @sub.moderator.username  %></h3>
<h3>Description: <%= @sub.description%></h3>

<% if @sub.moderator == current_user  %>
 
  <form action="<%edit_sub_url(@sub)%>" method="GET">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="submit" value="Edit Sub">
  </form>
    
  <form action="<%sub_url(@sub)%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Sub">
  </form>
<% end %>

<h2>Posts</h2>

  <table>
  <thead>
    <tr>
      <td>Title</td>
      <td>Author</td>
      <td>Content</td>
    </tr>
  </thead>

  <tbody>
      <% @posts.each do |post|%>
      <tr>
        <td>
          <a href="<%=post_url(post)%>"><%=post.title%></a>
        </td>
        <td><%=post.author.username%></td>
        <td><%=post.content%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<a href="<%=new_sub_post_url(@sub)%>">New Post</a>

    

<p>
  <a href="<%=subs_url%>">Subs Index</a>
</p>

